html {
  box-sizing: border-box;
}

.main-header {
  height: 400px;
  background-color: #803c00;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#breakLine {
  display: none;
}

.yourName {
  height: 90px;
}
